<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>321328417887-1tqgi81ndo3sg8l04sovlkp86ganrv24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321328417887-1tqgi81ndo3sg8l04sovlkp86ganrv24</string>
	<key>API_KEY</key>
	<string>AIzaSyA08eCga5DlI0Tw7RBfroCotOsRSp07QNE</string>
	<key>GCM_SENDER_ID</key>
	<string>321328417887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webiaturist.Social-App</string>
	<key>PROJECT_ID</key>
	<string>my-social-app-9400c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-social-app-9400c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:321328417887:ios:a4a017eb567adb44</string>
	<key>DATABASE_URL</key>
	<string>https://my-social-app-9400c.firebaseio.com</string>
</dict>
</plist>